<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <div class="wrap">
        <div id="title">
            주간 메뉴 생성기
        </div>
        <div id="nav">
            <div id="main" class="active">
                <a href="/main">주메뉴</a>
            </div>
            <div id="side">
                <a href="/side">반찬</a>
            </div>
            <div id="fruit">
                <a href="/fruit">과일</a>
            </div>
            <div id="menu">
                <a href="/menu">메뉴판</a>
            </div>
        </div>
        <div id="board">
            <div class="item">
                <div class="img">
                    <img src="" alt="food image">
                </div>
                <div class="info">
                    <h3>이름</h3>
                    <h3>재료</h3>
                    <h3>가격</h3>
                    <h3>열량</h3>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxNzA5MTFfMTU5%2FMDAxNTA1MTAzODU2ODcw.rZv-AuTLxcPwNLVFkwzUgVe24uuVnlf6ImjLAFxhDnwg.f0uoYSV7DFwWbTcL_ju2WVjibHhiArZ-4qOf24-qcnwg.JPEG.kyyung_s2%2F%25C1%25BE%25B0%25A2_%25BF%25CF%25B9%25E9%25BA%25CE%25B4%25EB%25C2%25EE%25B0%25B310.jpg&type=b400" alt="food image">
                </div>
                <div class="info">
                    <h3>이름: 부대찌개</h3>
                    <h3>재료: 김치, 햄, 각종 야채</h3>
                    <h3>가격: 7,000</h3>
                    <h3>열량: 1500kcal</h3>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="http://imgnews.naver.net/image/296/2013/09/16/235786_570_59_20130916135002.jpg" alt="food image">
                </div>
                <div class="info">
                    <h3>이름: 라면</h3>
                    <h3>재료: 밀가루, 스프</h3>
                    <h3>가격: 2,000</h3>
                    <h3>열량: 1000kcal</h3>
                </div>
            </div>
            <div class="item">
                <div class="img">
                    <img src="http://blogfiles.naver.net/20140719_133/hwangug0420_1405768192295N341e_JPEG/%B5%C5%C1%F6%B5%CE%B7%E7%C4%A1%B1%E2%BF%CD%BC%D2%B0%A5%BA%F1_%281%29.jpg" alt="food image">
                </div>
                <div class="info">
                    <h3>이름: 돼지두루치기</h3>
                    <h3>재료: 돼지고기, 양념</h3>
                    <h3>가격: 6,000</h3>
                    <h3>열량: 900kcal</h3>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/common.js"></script>
</body>
</html>
