<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <div class="wrap">
        <div id="title">
            주간 메뉴 생성기
        </div>
        <div id="nav">
            <div id="main">
                <a href="/main">주메뉴</a>
            </div>
            <div id="side">
                <a href="/side">반찬</a>
            </div>
            <div id="fruit">
                <a href="/fruit">과일</a>
            </div>
            <div id="menu" class="active">
                <a href="/menu">메뉴판</a>
            </div>
        </div>
        <div id="board">
            <h1>식단표</h1>
        </div>
    </div>

    <script src="/js/common.js"></script>
</body>
</html>
